* {
font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  html, body {
    position: absolute;
    width: 600px;
    top: 0px;
    left: 50%;
    margin-left: -300px;
    font-size: 15px;
    font-weight: 200;
  }

  body {
    background: rgb(237,237,237); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

  }

  h3 {
    font-weight: 100;
    font-size: 32px;
    border-bottom: 1px solid #ddd;
  }

  input,
  textarea {
    display: inline-block;
    border: 1px solid #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    outline: none;
    font-size: 15px;
    font-weight: 200;
    width: 600px;
    background-position: 99% 9px;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding-right: 30px;
  }
    input[required],
    textarea[required] {
    background-image: url("images/input-required.png");
  }
  .input-success {
    background-image: url("images/input-valid.png")!important;
  }
  .input-error {
    background-image: url("images/input-invalid.png")!important;
  }

  textarea {
      height:200px;
  }

  input[type="checkbox"] {
      width: 20px;
  }

  input[type=submit] {
      width: auto;
      display: block;
      background:none;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      color: #e2d46d;
      font-size: 24px;
      font-weight: 100;
      margin: 0;
      color: #000;
  }
